*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --fuschiaColor: #EF5DA8;
    --irisColor: #5D5FEF;
    --blackBlueColor: #42567A;
    --gradient: linear-gradient(180deg, #3877ee,#ef5da8);                       
    --blueColor:#3877EE;
}

.hero{
    position: relative;
}



.hero__container{
    position: relative;
    height: 100%;
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 170px;
    border-left: 1px solid var(--blackBlueColor);
    border-right: 1px solid var(--blackBlueColor);
}




.hero__container::after,
.hero__container::before{
    content: "";
    position: absolute;
    background-color: var(--blackBlueColor);
}

.hero__container::after{
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    width: 100%;
}

.hero__container::before{
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
}

.hero__title-history{
    position: absolute;
    width: min-content;
    padding-left: 78px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #42567A;
}

.hero__title-history::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: var(--gradient);
}







.circle__titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 120px;
    z-index: 0;
}

.hero__title-date__blue{
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -4px;
    color: var(--irisColor);
}

.hero__title-date__purple{
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -4px;
    color: var(--fuschiaColor);
}



.circle{
    position: relative;
    width: 530px;
    height: 530px;
    margin: 0 auto;
    margin-top: 105px;
    border-radius: 100%;
    border: 1px solid var(--blackBlueColor);
    z-index: 5;
    transition: 0.65s ease;
}

.dot{
    position: absolute;
    cursor: pointer;
    width: 5px;
    height: 5px;
    padding: 5px;
    background-color: var(--blackBlueColor);
    border-radius: 100%;
    transition: 0.95s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot__index,
.dot__title{
    transition: 0.65s ease;
}

.dot .dot__index,
.dot .dot__title{
    opacity: 0;
}

.dot__title{
    position: absolute;
    right: -55px;
    top: -25px;
    font-weight: 700;
    font-size: 14px;
    width: max-content;
}

.dot:hover{
    padding: 15px;
    background-color: white;
    border: 1px solid var(--blackBlueColor);
    color: var(--blackBlueColor);
}

.dot:hover .dot__index,
.dot:hover .dot__title{
    opacity: 1;
}


.dot-active{
    position: absolute;
    cursor: pointer;
    width: 5px;
    height: 5px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
    border: 1px solid var(--blackBlueColor);
    color: var(--blackBlueColor);
}

.dot-active .dot__title,
.dot-active .dot__index{
    opacity: 1;
}

.controllers{
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.swiper{
    min-height: 100px;
    max-height: 200px;
    display: flex;
}

.swiper-slide{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.swiper-pagination{
    display: none;
}

.button-next,
.button-prev{
    cursor: pointer;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 100%;
    border: 1px solid var(--blackBlueColor);
    font-size: 22px;
    color: var(--blackBlueColor);
    &:hover{
        color: var(--blueColor);
    }
    &:active{
        background-color: var(--irisColor);
    }
}

.count{
    color: var(--blackBlueColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news__title{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    color: var(--blueColor);
}

.news__text{
    color: var(--blackBlueColor);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    max-width: 320px;
}

.swiper-container{
    display: flex;
    align-items: flex-start;
}

.swiper-title{
    display: none;
    padding-bottom: 45px;
}



@media (max-height: 1036px) {
    .hero{
        height: 942px;
    }
    .hero__container{
        padding-top: 100px;
    }
}

@media(max-width: 1024px) {
    .hero__title-date__purple,
    .hero__title-date__blue{
        font-size: 100px;
        line-height: 80px;
    }
}

@media (max-height: 968px) {
    .hero{
        height: 840px;
    }
    .hero__container{
        padding-top: 50px;
    }
}


@media(max-width: 768px) {
    .hero__title-history{
        font-size: 28px;
        padding-left: 26px;
    }
    .circle{
        margin-top: 25px;
    }
    .hero__container{
        padding-top: 70px;
    }
    .hero__container::after,
    .hero__container::before{
        display: none;
    }
    .circle__titles{
        top: 45%;
    }
}



@media(max-width: 632px) {
    .swiper-pagination{
        top: 185px;
        display: block;
    }
    
    .hero__container{
        padding-top: 25px;
        display: flex;
        flex-direction: column;
    }
    .circle{
        display: none;
    }
    .hero__title-history{
        position: unset;
        padding-left: 0;
        margin-bottom: 65px;
    }
    .hero__title-history::after{
        display: none;
    }
    .circle__titles{
        gap: 20px;
        justify-content: space-between;
        position: unset;
        transform: translate(0, 0);
        margin-bottom: 40px;
    }
    .controllers{
        order: 1;
    }
    .only{
        display: none;
    }
    .swiper-title{
        display: block;
        width: 100%;
        border-bottom: 1px solid var(--blackBlueColor);
        margin-bottom: 45px;
    }
    .swiper-container{
        display: flex;
        flex-wrap: wrap;
    }



    .swiper-slide{
        transition: 0.35s;
        opacity: 0;
    }
    .swiper-slide-active,
    .swiper-slide-next{
        opacity: 1;
    }
}


@media(max-width: 476px) {
    .hero__title-date__purple,
    .hero__title-date__blue{
        font-size: 60px;
        line-height: 40px;
    }
}

